@charset "UTF-8";
h1 {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: red;
}
.pp01 {
  color: blue;
  font-size: 23px;
  text-align: center;
}
.pp01 p {
  text-align: left;
  font-weight: bold;
  font-style: italic;
}